@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
    color: hsl(300, 43%, 22%);
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-image: url(./images/bg-pattern-bottom-desktop.svg), url(./images/bg-pattern-top-desktop.svg);
    background-repeat: no-repeat, no-repeat;
    background-position:  right 0vw bottom 0vh, left 0vw top 0vh;
}
.page{
    width: 933px;
}
.top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    align-items: center;
}
.intro{
    width: 38%;
    display: flex;
    flex-direction: column;
}
.bold{
    font-weight: 700;
    font-size: 44px;
    width: 80%;
    margin-bottom: 20px;
}

.star{
    display: flex;
}
.star_review{
    display: flex;
    background-color: hsl(300, 24%, 96%);
    margin-bottom: 12px;
    padding: 14px 24px;
    gap: 20px; 
    align-items: center;
    font-weight: 700;
    border-radius: 8px;
    width: 360px;
}
.bottom{
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 2px) 70px 70px repeat(3, 10px) ;
}
.card{
    height: 200px;
    width: 300px;
    background-color: hsl(300, 43%, 22%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 8px;
    padding: 0 12px;
}
.card:hover{
    box-shadow: none 5px 10px rgba(0, 0, 0, 0.2), 0 10px 15px rgba(0, 0, 0, 0.15);
    transform: scale(1.05);
    transition: transform 0.35s ease-in-out;
}
.details, .text{
    color: white;
}
.profile{
    display: flex;
    align-items: center;
    gap: 20px;
}
.status{
    color: hsl(303, 10%, 53%);
    font-weight: 500;
    margin-top: 4px;
}
.photo{
    width: 48px;
    height: 48px;
    border-radius: 24px;
}
.image{
    width: 100%;
    height: 100%;
    border-radius: 24px;
}
.one{
    grid-area: 1 / 1;
}
.two{
    grid-area: 2 / 2;
}
.three{
    grid-area: 3 / 3;
}
.no2{
    margin-left: 40px;
}
.no3{
    margin-left: 80px;
}
@media(max-width: 950px){
    .top{
        justify-content: center;
    }
    .bold{
        font-size: 32px;
    }
    .intro{
        font-size: 14px;
        margin-bottom: 40px;
    }
    .star_review{
        width: 300px;
        padding: 12px 18px;
    }
    .star_review p{
        font-size: 12px;
    }
    .bottom{
        display: flex;
        justify-content: center;
    }
    .card{
        width: 240px;
        height: 160px;
    }
    .two{
        margin-top: 10px;
    }
    .three{
        margin-top: 20px;
    }
    .photo{
        width: 40px;
        height: 40px;
    }
    .profile{
        gap: 12px;
    }
}
@media(max-width:770px){
    .container{
        height: 100%;
    }
    .page{
        width: 360px;
    }
    .top{
        flex-direction: column;
        text-align: center;
    }
    .intro{
        width: 100%;
        font-size: 16px;
    }
    .no2, .no3{
        margin-left: 0;
    }
    .bold{
        width: 100%;
        font-size: 40px;
        padding: 2px;
    }
    .star_review{
        flex-direction: column;
        align-items: center;
        gap: 8px;
        width: 320px;
    }
    .star_review p{
        font-size: 16px;
    }
    .bottom{
        flex-direction: column;
        align-items: center;
    }
    .card{
        width: 320px;
        height: 214px;
        padding: 0 16px;
    }
    .text{
        font-size: 16px;
    }
    .photo{
        width: 48px;
        height: 48px;
    }
    .profile{
        gap: 20px;
    }
}